/State/State/build/
/State/State/nbproject/private/
/Estrategia/MoverArquivos/nbproject/private/
/Estrategia/MoverArquivos/build/
/TemplateExportFiles/build/
/Estrategia/StrategyFiltroImagem/build/
/Estrategia/StrategyFiltroImagem/nbproject/private/